# Archivos de configuración sensibles
.env
.env.android
.env.development
.env.production
assets/.env

# Archivos de build de Flutter
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Archivos específicos de IDEs
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de Android
android/key.properties
android/app/upload-keystore.jks

# Archivos de iOS
ios/Runner/GoogleService-Info.plist
ios/firebase_app_id_file.json
